@-webkit-keyframes appearElement {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes appearElement {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes closeElement {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  30% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
@keyframes closeElement {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  30% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
@-webkit-keyframes appearBigText {
  0% {
    transform: rotate(-2deg) translate(-30px, 50px);
    filter: blur(100px);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0px, 0px);
    filter: blur(0rem);
    opacity: 1;
  }
}
@keyframes appearBigText {
  0% {
    transform: rotate(-2deg) translate(-30px, 50px);
    filter: blur(100px);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0px, 0px);
    filter: blur(0rem);
    opacity: 1;
  }
}
@-webkit-keyframes appearSimpleText {
  0% {
    opacity: 0;
    filter: blur(100px);
    transform: translate(0, -150px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0, -20%);
  }
}
@keyframes appearSimpleText {
  0% {
    opacity: 0;
    filter: blur(100px);
    transform: translate(0, -150px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0, -20%);
  }
}
@-webkit-keyframes appearName {
  0% {
    opacity: 0;
    filter: blur(50px);
    font-size: 10px;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    font-size: 25px;
  }
}
@keyframes appearName {
  0% {
    opacity: 0;
    filter: blur(50px);
    font-size: 10px;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    font-size: 25px;
  }
}
@-webkit-keyframes appearVideo {
  0% {
    opacity: 0;
    filter: blur(100px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes appearVideo {
  0% {
    opacity: 0;
    filter: blur(100px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
@-webkit-keyframes appearParticles {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(2px);
  }
}
@keyframes appearParticles {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(2px);
  }
}
@-webkit-keyframes hoverFormBtn {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes hoverFormBtn {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
#startPart {
  width: 100%;
  height: 100vh;
}
#startPart #content {
  width: 100%;
}
#startPart #content #animationTextContainer {
  position: absolute;
  width: 50vw;
  height: 50vh;
  transform: translate(50%, 25%);
  transition: 0.7s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
}
#startPart #content #animationTextContainer #startText {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#startPart #content #animationTextContainer #startText p {
  font-size: 54px;
  font-weight: 800;
  transform: translateY(-20%);
  -webkit-animation: appearSimpleText;
          animation: appearSimpleText;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
#startPart #content #animationTextContainer #startText #bigTextContainer {
  position: absolute;
  transform: translateY(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#startPart #content #animationTextContainer #startText #bigTextContainer h2 {
  font-size: 120px;
  font-weight: 900;
  -webkit-animation: appearBigText;
          animation: appearBigText;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
#startPart #content #animationTextContainer #startText h2, #startPart #content #animationTextContainer #startText p {
  margin: 0;
  color: #3C9FDD;
  font-family: "Montserrat";
}
#startPart #content #videoContainer {
  position: absolute;
  width: 50vw;
  height: 50vh;
  transform: translate(100%, 35%);
  transition: 1s;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
}
#startPart #content #videoContainer #video {
  width: 100%;
  height: 300px;
  -webkit-animation: appearVideo;
          animation: appearVideo;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
#startPart #tsparticles {
  top: 60vh;
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 350px;
  filter: blur(2px);
  -webkit-animation: appearParticles;
          animation: appearParticles;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}/*# sourceMappingURL=style.css.map */