$josefinSans : 'Josefin Sans', sans-serif
$montserrat : 'Montserrat'


$darkGray: #161616
$gray: #8D8D8D
$blue: #3C9FDD
$hoverBlue: #46a7e3
$darkBlue: #005F97
$lightBlue: #D2EEFF

$textWidth: 70%


@mixin flex($jc, $ai, $fd)
    display: flex
    justify-content: $jc
    align-items: $ai
    flex-direction: $fd
    