@-webkit-keyframes appearElement {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes appearElement {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes closeElement {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  30% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
@keyframes closeElement {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  30% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
@-webkit-keyframes appearBigText {
  0% {
    transform: rotate(-2deg) translate(-30px, 50px);
    filter: blur(100px);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0px, 0px);
    filter: blur(0rem);
    opacity: 1;
  }
}
@keyframes appearBigText {
  0% {
    transform: rotate(-2deg) translate(-30px, 50px);
    filter: blur(100px);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0px, 0px);
    filter: blur(0rem);
    opacity: 1;
  }
}
@-webkit-keyframes appearSimpleText {
  0% {
    opacity: 0;
    filter: blur(100px);
    transform: translate(0, -150px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0, -20%);
  }
}
@keyframes appearSimpleText {
  0% {
    opacity: 0;
    filter: blur(100px);
    transform: translate(0, -150px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0, -20%);
  }
}
@-webkit-keyframes appearName {
  0% {
    opacity: 0;
    filter: blur(50px);
    font-size: 10px;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    font-size: 25px;
  }
}
@keyframes appearName {
  0% {
    opacity: 0;
    filter: blur(50px);
    font-size: 10px;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    font-size: 25px;
  }
}
@-webkit-keyframes appearVideo {
  0% {
    opacity: 0;
    filter: blur(100px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes appearVideo {
  0% {
    opacity: 0;
    filter: blur(100px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
@-webkit-keyframes appearParticles {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(2px);
  }
}
@keyframes appearParticles {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(2px);
  }
}
@-webkit-keyframes hoverFormBtn {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes hoverFormBtn {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
.standartBtn {
  background: #3C9FDD;
  width: 100%;
  border-radius: 100px;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.standartBtn p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 13px;
  margin: 0 10px;
}
.standartBtn svg {
  transform: translateY(0);
  margin: 0 10px;
}
.standartBtn:hover {
  background: #46a7e3;
}
.standartBtn:hover svg {
  -webkit-animation: hoverFormBtn;
          animation: hoverFormBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}/*# sourceMappingURL=style.css.map */