@import ../../../Style/MainStyle/MainStyle
@import ../../../Style/MainStyle/KeyFrames

$height: 47px
$padding: 0 15px

$allWidth: 575px

.form
    width: $allWidth
    color: white
    @include flex(center, center, column)

    .chooseService
        width: $allWidth - 30
        background: $darkGray
        height: $height
        padding: $padding
        border-radius: 100px
        color: $gray
        font-family: $montserrat
        font-weight: 500
        font-size: 12px
        @include flex(space-between, center, row)

        .formServices
            width: 75%
            margin-right: 15px
            @include flex(space-between, center, row)

            p
                transition: 0.2s

            .formService
                cursor: pointer
                @include flex(center, center, row)

                svg
                    height: 26px
                    width: auto
                    margin-left: 10px

                    path 
                        transition: 0.2s
                        fill: $gray

                &:nth-child(2)
                    svg
                        transform: translateY(-2px)
        
        .servicesAc
            color: white

            path 
                fill: $blue !important
                    
    
    .userInfo
        width: 100%
        @include flex(space-between, center, row)       
                
    
    .footerPart
        width: 100%
        @include flex(space-between, flex-start, row)

        .rightFooterPart
            width: 250px
            margin-top: 15px
            padding: $padding
            @include flex(center, center, column)

            .socialMediaChoose
                width: 100%
                background: $darkGray
                padding: $padding
                border-radius: 20px
                color: $gray
                font-family: $montserrat
                font-weight: 500
                font-size: 12px
                @include flex(center, center, column)

                .chooseSocialText
                    width: 100%
                    @include flex(flex-start, center, row)

                    .socialChoose
                        margin-left: 10px
                        color: white


                .socialMedias
                    width: 100%
                    padding: 20px 0 32px 0
                    @include flex(space-around, center, row)

                    .socialMedia
                        cursor: pointer
                        path 
                            fill:$gray

                    .acSocial
                        path 
                            transition: 0.2s
                            fill: $blue
            
            .standartBtn
                margin-top: 15px
