@-webkit-keyframes appearElement {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes appearElement {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes closeElement {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  30% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
@keyframes closeElement {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  30% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
@-webkit-keyframes appearBigText {
  0% {
    transform: rotate(-2deg) translate(-30px, 50px);
    filter: blur(100px);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0px, 0px);
    filter: blur(0rem);
    opacity: 1;
  }
}
@keyframes appearBigText {
  0% {
    transform: rotate(-2deg) translate(-30px, 50px);
    filter: blur(100px);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) translate(0px, 0px);
    filter: blur(0rem);
    opacity: 1;
  }
}
@-webkit-keyframes appearSimpleText {
  0% {
    opacity: 0;
    filter: blur(100px);
    transform: translate(0, -150px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0, -20%);
  }
}
@keyframes appearSimpleText {
  0% {
    opacity: 0;
    filter: blur(100px);
    transform: translate(0, -150px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0, -20%);
  }
}
@-webkit-keyframes appearName {
  0% {
    opacity: 0;
    filter: blur(50px);
    font-size: 10px;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    font-size: 25px;
  }
}
@keyframes appearName {
  0% {
    opacity: 0;
    filter: blur(50px);
    font-size: 10px;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    font-size: 25px;
  }
}
@-webkit-keyframes appearVideo {
  0% {
    opacity: 0;
    filter: blur(100px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes appearVideo {
  0% {
    opacity: 0;
    filter: blur(100px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
#languaceBtn {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
#languaceBtn #btnVisible {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background: #161616;
  transition: 0.3s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
#languaceBtn #btnVisible #languaces {
  font-family: "Josefin Sans";
  color: white;
  width: 50px;
  margin-right: 45px;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#languaceBtn #btnVisible #languaces p {
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
  -webkit-animation: appearElement 0.3s;
          animation: appearElement 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
#languaceBtn #btnVisible #languaces .close {
  -webkit-animation: closeElement 0.2s;
          animation: closeElement 0.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
#languaceBtn #btnVisible svg {
  transform: translate(-12px, 1px);
}/*# sourceMappingURL=style.css.map */